.DS_Store
*/target
*/classes
*/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
*/.lein-*
*/.nrepl-port
.hgignore
.hg/
*/things
.eastwood
/hand-base/resources/fillets3d.scad
/iphone-dock/.cpcache/1290378702.cp
/iphone-dock/.cpcache/1290378702.libs
/*.cp
**/.cpcache/
